/* ///////////// */

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #adb3ff;
}

.box2 {
  max-width: 500px;
  border-radius: 20px;
  padding: 20px 30px;
  background: #adb3ff;
  box-shadow: 20px 20px 60px #9296d9, -20px -20px 60px #c7ceff;
}

.col-3 {
  padding: 0 !important;
  display: flex;
  justify-content: center;
}

button {
  width: 95%;
  height: 5rem;
  border-radius: 40px;
  margin: 5px;
  color: rgb(248, 245, 245);
  font-size: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: 0.1s;
  background: #adb3ff;
  box-shadow: 5px 5px 10px #9398d9ad, -5px -5px 10px #c7cdff75;
  border: none;
  cursor: move;
}

button:focus {
  outline: none;
}

button:hover {
  font-size: 2.2rem;
  color: #8185d4;
}

.monitor {
  height: 8rem;
  font-size: 4rem;
  text-align: right;
  background: #adb3ff;
  box-shadow: 5px 5px 10px #9398d9ad, -5px -5px 10px #c7cdff75;
  color: white;
  border: none;
  outline: none;
  border-radius: 15px;
}

.keyboard {
  margin: 0 0.5rem 0 0.5rem;
}
