.box {
  margin-left: 38rem;
  margin-top: 10rem;
  box-shadow: 10px 10px rgba(226, 196, 196, 0.5);
  width: 20rem;
  background: white;
}

input {
  width: 20rem;
  height: 8rem;
}

input[type="number"] {
  font-size: 4rem;
  text-align: right;
  background-color: black;
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.first-row {
  background-color: white;
}

.ex {
  background-color: red;
}

.zero {
  width: 10rem;
}
